body{
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
}

.buttons{
    background-color: black;
    flex: 5;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.row, .row button, .last-row, .last-row button{
    flex: 1;
    display: flex;
}

.row button{
    align-items: center;
    justify-content: center;
}

.row button, .last-row button{
    font-size: 2em;
    font-family: monospace;
    border: 2px solid black;
    border-radius: 5px;
}

#zero{
    flex: 2;
}

#dot, #equals{
    flex: 1;
    padding: 2px;
}

.last-row button{
    align-items: center;
    justify-content: center;
}

.input{
    flex: 3;
    justify-content: flex-end;
}

.inputoperator{
    background-color:#e9e6e6;
    flex: 1;
    justify-content: center;
}

.inputoperator, .input{
    display: flex;
    align-items: center;
    font-size: 3em;
    font-family: monospace;
}

.display {
    display: flex;
    flex: 1;
    border: 12px solid black;
}

.operator{
    font-weight: bold;
    font-size: 20px;
    color: red;
    background-color: aquamarine;
}

.digit{
    background-color: #fdd0d0;
}

.function{
    background-color: rgb(248, 214, 164);
}