body{
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
}

.buttons{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.row, .row button{
    display: flex;
    flex: 1;
}

.row button{
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.input{
    flex: 3;
}

.inputoperator{
    background-color:#e9e6e6;
    flex: 1;
}

.inputoperator, .input{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 222px;
    overflow: hidden;
}

.display {
    display: flex;
    flex: 1;
    border: 1px solid black;
}

.operator{
    font-weight: bold;
    font-size: 20px;
    color: red;
    background-color: aquamarine;
}

.digit{
    background-color: #fdd0d0;
}

.function{
    background-color: rgb(248, 214, 164);
}