body{
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
}

.input{
    flex: 3;
}

.inputoperator{
    background-color:#d4d4d4;
    flex: 1;
}

.inputoperator, .input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.row, .display {
    display: flex;
    flex: 1;
}

.row button{
    flex: 1;
}

.operator{
    font-weight: bold;
    font-size: 20px;
    color: red;
    background-color: aquamarine;
}